p {
  font-size: 15px;
  font-family: Arial;
  color: gray;
  margin-bottom: 8px;
  text-align: left;
}

.text {
  border-style: solid;
  border-color: gray;
  border-radius: 3px;
  height: 30px;
  width: 400px;
  border-width: 2px;
}

.line {
  margin-bottom: 20px;
}

.button1 {
  background-color: rgb(5, 113, 202);
  font-size: 20px;
  color: white;
  font-family: Arial;
  border: none;
  padding-left: 123px;
  padding-right: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
}