p {
  font-family: Arial;
}

.title {
  
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  line-height: 25px;
  margin-bottom: 0px;
}

.status {
  font-size: 14px;
  color: rgb(80, 79, 79);
  margin-top: 5px;
  display: inline-block;
  
}

.writer{
  font-size: 14px;
  color: rgb(80, 79, 79);
  margin-top: 20px;
  display: inline-block;
}
